{% extends 'base.html.twig' %}

{% block body %}
    <header class="header">
        <h1>Авторизация</h1>
    </header>
    <form method="post" class="form_one_page">

    {#    {% if app.user %}#}
    {#        <div class="mb-3">#}
    {#            You are logged in as {{ app.user.username }}, <a href="{{ path('app_logout') }}">Logout</a>#}
    {#        </div>#}
    {#    {% endif %}#}
        <div class="input_standart_wrapper">
            {% if error %}
                <div class="error_standart_wrapper">
                    {{ error.messageKey|trans(error.messageData, 'security') }}
                </div>
            {% else %}
                <div class="error_standart_wrapper" style="opacity: 0">
                    Тестовая ошибка
                </div>
            {% endif %}
            <p class="label_input">Email</p>
            <input type="text" value="{{ last_username }}" name="email" id="inputEmail" class="form-control input_standart" autocomplete="username" required autofocus>
            <br><br>
            <p class="label_input">Пароль</p>
            <input type="password" name="password" id="inputPassword" class="form-control input_standart" autocomplete="current-password" required>

            <input type="hidden" name="_csrf_token"
                   value="{{ csrf_token('authenticate') }}"
            >
        </div>

    {#        Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.#}
    {#        See https://symfony.com/doc/current/security/remember_me.html#}

        <div class="checkbox mb-3" style="display: none">
            <label>
                <input type="checkbox" name="_remember_me">
            </label>
        </div>
        <div class="btn_standart_wrapper">
            <button type="submit" class="btn_standart">Войти</button>
            <br><br>
            <a href="{{ path("register") }}"><button type="button" class="btn_standart">Регистрация</button></a>
        </div>
    </form>
{% endblock %}
