{% extends 'base.html.twig' %}

{% block body %}
    <header class="header">
        <h1>Регистрация</h1>
    </header>

    {{ form_start(registrationForm, {
        attr: {'class': "form_one_page"}
    }) }}
        <div class="input_standart_wrapper">
            {% if error %}
                <div class="error_standart_wrapper">
                    {{ error.messageKey|trans(error.messageData, 'security') }}
                </div>
            {% else %}
                <div class="error_standart_wrapper" style="opacity: 0">
                    Тестовая ошибка
                </div>
            {% endif %}
            <p class="label_input">Email</p>
            {{ form_row(registrationForm.email, {
                attr: {'class': "input_standart"},
                label: false
            }) }}
            <br>
            <p class="label_input">Пароль</p>
            {{ form_row(registrationForm.plainPassword, {
                attr: {'class': "input_standart"},
                label: false
            }) }}
        </div>
{#        {{ form_row(registrationForm.agreeTerms) }}#}

    <div class="btn_standart_wrapper">
        <button type="submit" class="btn_standart">Зарегистрироваться</button>
        <br><br>
        <a href="{{ path("app_login") }}"><button type="button" class="btn_standart">Авторизация</button></a>
    </div>
    {{ form_end(registrationForm) }}
{% endblock %}
