{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    <h1>Регистрация</h1>

    {{ form_start(registrationForm) }}
        {{ form_row(registrationForm.email) }}
    <br>
        {{ form_row(registrationForm.plainPassword, {
            label: 'Пароль'
        }) }}
{#        {{ form_row(registrationForm.agreeTerms) }}#}
        <br>
        <button type="submit" class="btn">Зарегистрироваться</button>
    {{ form_end(registrationForm) }}
    <br>
    <a href="{{ path("app_login") }}">Авторизация</a>
{% endblock %}
