{% extends 'base.html.twig' %}
{% block header_title %}Друзья{% endblock %}
{% block body %}
{#    <div style="text-align: center; display: flex; align-items: center; justify-content: center; flex-direction: column">#}
{#        <h3>Главная страница для пользователя: {{ user.getEmail() }}</h3>#}
{#    </div>#}
    <div class="button-group">
        <div class="find-friends">
            <input class="search-input" type="text" id="search-input" value="{{ search }}"><div class="search-btn" id="search-btn">П</div>
        </div>
        {% if listUsers is not empty %}
            {% for user in listUsers %}
                <div class="button-block">
                    {{ user.getNickname() }}
game                    - <a href="/friends?add={{ user.getUUid() }}">добавить</a>
                    <br>
                    {{ user.getEmail() }}
                </div>
            {% endfor %}
        {% else %}
            {% for friend in friends %}
                <div class="button-block" onclick="location.href='/game?invite={{ friend.getUUid() }}'">
                    {{ friend.getNickname() }} - <a href="/friends?remove={{ friend.getUUid() }}">удалить</a> <br>
                    {{ friend.getEmail() }}
                </div>
            {% endfor %}
        {% endif %}
{#        <div class="button-block" onclick="location.href='{{ path("setting") }}'">#}
{#            Настройки#}
{#        </div>#}
    </div>
{% endblock %}
