<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport"
              content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>YouMove</title>
        <link rel="stylesheet" href="{{ asset('assets/styles/style.css') }}">
        {# Run `composer require symfony/webpack-encore-bundle`
           and uncomment the following Encore helpers to start using Symfony UX #}
        {% block stylesheets %}
            {#{{ encore_entry_link_tags('app') }}#}
        {% endblock %}

        {% block javascripts_up %}
            {#{{ encore_entry_script_tags('app') }}#}
        {% endblock %}
    </head>
    <body>
        <header class="header">
            <h1>{% block header_title %}{% endblock %}</h1>
        </header>
        <section class="body">
            {% block body %}{% endblock %}
        </section>
        {% block footer_nav %}
            <footer class="footer">
                <div class="nav_item" onclick="location.href='{{ path("profile") }}'">
                    Г
                </div>
                <div class="nav_item" onclick="location.href='{{ path("setting") }}'">
                    Н
                </div>
                <div class="nav_item" onclick="location.href='{{ path("app_logout") }}'">
                    В
                </div>
            </footer>
        {% endblock %}
    </body>
    {% block javascripts_down %}
        {#{{ encore_entry_script_tags('app') }}#}
    {% endblock %}
</html>
